.contact-information {
  align-self: center;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-images-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160%;
}

.contact-us {
  color: #3d3c3c;
  font-size: 12px;
  font-family: 'Robotic';
  font-weight: bold;
}
